<!-- generate_api_token.html -->
{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'devices/css/styles.css' %}">
{% endblock %}

{% block main %}
    <div class="container">
        <h2>API-Token Generieren</h2>
        {% if tokens %}
            {% for token in tokens %}
                <div id="token-container">
                    <p>Ihre API-Token:</p>
                    <div id="token">{'Authorization': 'Token {{ token }}'}</div>
                </div>
            {% endfor %}
        {% else %}
            <p>Sie haben keine API-Token</p>
        {% endif %}
        <a href="{% url 'devices:generate_api_token' %}" id="generate-token-btn">Neue API-Token generieren</a>
    </div>
{% endblock %}