{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% endblock %}

{% block main %}
    <h1>Alle Lampen</h1>
    <div class="lamp-container">
        {% for lamp in lamps %}
            <div class="lamp">
                <h2>{{ lamp.name }}</h2>
                <img src="{% if lamp.status %}{% static 'main/images/2910890.png' %}
                    {% else %}{% static 'main/images/2910914.png' %}{% endif %}" alt="{{ lamp.name }}"
                     id="image{{ lamp.id }}">
                <div class="btn-cont">
                    <button class="on-off-button" id="licht{{ lamp.id }}-button" data-lamp-id="{{ lamp.id }}">
                        {% if lamp.status %}Licht an{% else %}Licht aus{% endif %}
                    </button>
                    <h4>Helligkeit</h4>
                    <input type="range" class="brightness-slider" min="0" max="100" value="{{ lamp.brightness }}"
                           data-lamp-id="{{ lamp.id }}">
                    <h4>Farbe</h4>
                    <input type="color" class="color-picker" value="{{ lamp.color }}" data-lamp-id="{{ lamp.id }}">
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'main/js/lamp_control.js' %}"></script>
{% endblock %}
